<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexControl">
        <method name="openDatePicker"></method>
        <method name="openDatePickerWithoutDay"></method>
        <method name="openDatePickerWithConfig"></method>
		<method name="openTimePicker"></method>
        <method name="openInputDialog"></method>
        <method name="setDatePickerConfirmBtnColor"></method>
        <method name="setDatePickerWithoutDayConfirmBtnColor"></method>
	</plugin>
</uexplugins>